include README.md LICENSE Pipfile cookiecutter.json
recursive-include docs *
recursive-include {{cookiecutter.project_repo}}/docs *
recursive-include {{cookiecutter.project_repo}}/etc *
recursive-include {{cookiecutter.project_repo}}/src *
recursive-include {{cookiecutter.project_repo}}/tests *
