include README.md LICENSE Pipfile cookiecutter.json
recursive-include docs *
recursive-include {{cookiecutter.project.repo}}/docs *
recursive-include {{cookiecutter.project.repo}}/etc *
recursive-include {{cookiecutter.project.repo}}/src *
recursive-include {{cookiecutter.project.repo}}/tests *
include {{cookiecutter.project.repo}}/LICENSE
